// Color Variables
$primary-color: #7ECFD2;
$text-color: #001C2C;
$text-color-light: #fff;
$body-color: #00AAAE;
$border-color: #001C2C;
$dark: #00728B;
$white: #7ECFD2;
$black: #001C2C;

// Font Variables
$primary-font: 'Open Sans', sans-serif;
$icon-font: 'themify';
